.loader {
  --c:no-repeat linear-gradient(#FF6A3D 0 0);
  background:
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c),
    var(--c),var(--c),var(--c);
  background-size: 16px 16px;
  animation:
    l32-1 2s infinite,
    l32-2 2s infinite;
}
@keyframes l32-1 {
  0%,100% {width:45px;height: 45px}
  35%,65% {width:65px;height: 65px}
}
@keyframes l32-2 {
  0%,40%  {background-position: 0 0,0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,  50% 50% }
  60%,100%{background-position: 0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,0 0,  50% 50% }
}

.line-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: slategray; /* or any color you prefer */
  margin: 0 10px; /* space between text and line */
}

.line-text {
  white-space: nowrap;
}
