.loader {
  width: 40px;
  height: 40px;
  color: #FF6A3D;
  background:
    conic-gradient(from  -45deg at top    20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
    conic-gradient(from   45deg at right  20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
    conic-gradient(from  135deg at bottom 20px left 50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg),
    conic-gradient(from -135deg at left   20px top  50% ,#0000 ,currentColor 1deg 90deg,#0000 91deg);
  animation: l4 2.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l4 {
  50%  {width:60px;height: 60px;transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}

.line-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: slategray; /* or any color you prefer */
  margin: 0 10px; /* space between text and line */
}

.line-text {
  white-space: nowrap;
}
